
<div
  class=" justify-center py-2 lg:px-8 px-4 items-center text-gray-500 bg-white lg:flex z-100"
>
  <div class="w-full flex justify-between items-center">
    <div class="flex gap-2 items-center">
      <img src="/assets/public/muusta-logo.png" alt="">
      
    </div>
    <div class="flex gap-4 items-center">
      <button class="lg:hidden">
        <div >
          <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H20" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
        </div>
        
      </button>
      <button class="flex items-center gap-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-bell"
        >
          <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
          <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
        </svg>
      </button>
      <img
        src="https://placebeard.it/640x360"
        alt="avatar"
        class="lg:h-[45px] lg:w-[45px] w-[30px] h-[30px] object-cover rounded-md"
      />
      <div class="flex gap-2">
        <div>
          <h1 class="text-[8px] whitespace-nowrap lg:text-xs">welcome back</h1>
          <h1 class="lg:text-[1.2rem] text-sm text-gray-900">Mariana</h1>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="text-black-300 mt-2"
        >
          <polyline points="6 9 12 15 18 9" />
        </svg>
      </div>
    </div>
  </div>
</div>


