<div class="lg:py-[2rem] py-[0.5rem] bg-white px-4">
  <div class="gap-2 flex flex-col pb-[1rem]">
    <h1 class="text-2xl font-bold">Reports</h1>
    <div class="bg-blue-400 w-[70px] py-[1px]"></div>
  </div>
  <div class="bg-gray-200 opacity-50 px-3 mt-3 items-center">
    <div
      class="flex justify-between  gap-2 py-2 items-center"
    >
      <input
        type="text"
        placeholder="Search by product ID name, amount ..."
        class="py-2 mt-1 mb-1 rounded-sm px-2 outline-none shadow-lg icon-input lg:w-[30%] w-full bg-white"
      />
      <button
        class="flex flex-row gap-2 items-center bg-white p-2 border border-gray-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
        </svg>
        <h1 class="text-black-500">Filter</h1>
      </button>
    </div>
  </div>


  <div class="flex flex-row  gap-5 ">
    <div>
      <img
        src="/assets/public/supply-performance.png"
        alt=""
        class="h-[35px] w-[35px] mt-3"
      />
    </div>
    <div class="text-lg">
      <h1 class="text-[#18181B] font-medium text-left">
        Products insights
      </h1>
      <h1 class="text-[#71717A] font-normal text-left">
        View and manage reports around your product catalogue and your posts
      </h1>
    </div>
  </div>
  <div
  class="flex flex-row  gap-5  lg:pt-[2rem] pt-[1rem]"
>
  <div>
    <img
      src="/assets/public/product-insigt.png"
      alt=""
      class="h-[35px] w-[35px] mt-3"
    />
  </div>
  <div class="text-lg">
    <h1 class="text-[#18181B] font-medium text-left">
      Shop insights
    </h1>
    <h1 class="text-[#71717A] font-normal text-left">
      View and manage reports around your shop
    </h1>
  </div>
</div>
<div
class="flex lg:flex-row  gap-5  lg:py-[2rem] py-[1rem]"
>
<div>
  <img
    src="/assets/public/shop-insight.png"
    alt=""
    class="h-[35px] w-[35px] mt-3"
  />
</div>
<div class="text-lg">
  <h1 class="text-[#18181B] font-medium text-left">
    Supply Performance
  </h1>
  <h1 class="text-[#71717A] font-normal text-left">
    View and manage reports around your supply chain
  </h1>
</div>
</div>
</div>
